//Hero Configs
$circle_size: 90vw

.hero
  margin: 0
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  position: relative
  overflow: hidden
  background:
    image: url('../images/lowSaturation.jpeg')
    size: cover
    position: center
  .titleContainer
    position: relative
    z-index: 1
    +mobile
      width: 90%
    +tablet
      top: 50px
    .smallText
      position: relative
      color: $grey
      +mobile
        color: white
        text-align: center
    .name
      text-align: left
      +mobile
        padding-left: 50px
    .profession
      text-align: center
      font-weight: 800
      font-size: 20px
      +tablet
        color: white
    .whatIDo
      font-size: 19px
      +mobile
        margin-top: 40px
        padding: 0 40px
        font-size: 14px
      & > *
        +mobile
          text-align: center
        // text-shadow: 2px 2px 10px rgba($black, 1)
        color: white

      +tablet
        position: relative
        top: 80px

    .title
      font-size: 54px
      text-transform: uppercase
      font-weight: 700
      letter-spacing: -3px
      color: white
      line-height: normal
      text-shadow: 10px 18px 35px rgba($black, 0.30)
      text-align: center
      +mobile
        font-size: 40px
      +tablet
        letter-spacing: -8px
        font-size: 120px

  .circle
    display: none
    width: $circle_size
    height: $circle_size
    position: absolute
    bottom: 0
    right: 0
    background-color: $red
    border-radius: 100%
    transform: translate(50% , 50%)
    z-index: 0
    +tablet
      display: block
