extends layout
block content
	include ./partials/hero
	include ./partials/me
	include ./partials/about-me
	include ./partials/work
	include ./partials/skills
	include ./partials/workedBrands
	include ./partials/contact
