<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
	title Miguel Viñan
	link(rel="stylesheet", href="assets/css/normalize.css")
	link(rel="stylesheet", href="assets/icons/foundation-icons.css")
	link(rel="stylesheet", href="assets/css/foundation-flex.min.css")
	link(rel="stylesheet", href="assets/css/components.css")
body
	include ./partials/menu.jade
	include ./partials/brand.jade
	block content

	script(src="assets/js/jquery.js")
	script(src="assets/js/foundation.min.js")
	script(src="assets/js/app.bundle.js")
