section.AboutMe
	div.AboutMe-row.row.align-center.align-middle
		article.AboutMe-bio.column.medium-6
			h2 Sobre mi
			p.lead Soy emprendedor, diseñador y desarrollador web, apasionado de mi trabajo. Desarrollo y diseño sitios web efectivos, atractivos y memorables. Me gusta tener una grán atención al detalle y siempre mantenerme en continua formación profesional.

		div.square
		h2.watermark.firstName Miguel
		h2.watermark.lastName Viñan
