section.hero
	article.titleContainer
		h2.smallText.name.column Miguel Viñan
		h1.title Frontend
		h2.smallText.profession.column Profesional

		article.whatIDo.column.small-12.medium-4
			p.lead Me dedico a desarrollar y a diseñar sitios web que ofrezcan una experiencia única y memorable.
	div.circle
