section.hero
	article.titleContainer
		h2.smallText.name.column Miguel Viñan
		h1.title Frontend
		h2.smallText.profession.column Profesional

		article.whatIDo.column.small-12.medium-6
			p Me dedico a diseñar y desarrollar web que ofrezca una experiencia memorable en los usuarios

	div.circle
