section.hero
	article.titleContainer
		h4.smallText.name Miguel Viñan
		h1.title Frontend
		h4.smallText.profession Profesional

		article.whatIDo.medium-4.column
			p Me dedico a diseñar y desarrollar web que ofrezca una experiencia memorable en los usuarios

	div.circle
