section.hero
	article.titleContainer
		h1.title Miguel Viñan
		h2.smallText.profession.column Desarrollador + Diseñador Web

		article.whatIDo.column.small-12.medium-offset-8
			p.lead Me dedico a desarrollar y a diseñar sitios web que ofrezcan una experiencia única y memorable.
	div.circle
