section.Me
	.circle
	div.Me-bg
	div.Me-container.row
		figure.wow.fadeInLeft.Me-image(data-wow-delay="0.5s")
			img(src="assets/images/about-visual.png", alt="")

		article.Me-phrase.column.medium-5
			h2.wow.fadeInRight Nada es <br> imposible

			p.wow.fadeIn.smallText Si trabajas lo suficientemente duro en ello
			small.wow.fadeIn.signature James Martin
