section.Me
	div.Me-bg
	div.Me-container.row
		figure.Me-image
			img(src="assets/images/about-visual.png", alt="")

		article.Me-phrase.column.medium-5
			h2 Nada es <br> imposible

			p.smallText Si trabajas lo suficientemente duro en ello
			small.signature James Martin
