main.Menu
	div.MenuContainer.row.align-middle.align-justify
		figure.Brand.column.shrink
			img(src="assets/images/logo@2x.png" alt="Miguel Viñan Logo")

		div.ListContainer.column.align-middle
			ul.List.vertical.medium-horizontal.menu.align-center.text-center
				li.List-item
					a(href="") Sobre mi
				li.List-item
					a(href="") Skills
				li.List-item
					a(href="") Mi trabajo
				li.List-item
					a(href="") Contáctame

		button(class="button quoted column shrink show-for-medium") Cotización

		button(class="button hamburguer show-for-small-only")
			span
