header.Menu.cd-auto-hide-header
	div.MenuContainer.row.align-middle.align-justify
		figure.Brand.column.shrink
			img(src="assets/images/logo@2x.png" alt="Miguel Viñan Logo")

		div.ListContainer.column.align-middle
			ul.List.vertical.medium-horizontal.menu.align-center.text-center
				li.List-item
					a(href="#about-me") Sobre mi
				li.List-item
					a(href="#skills") Skills
				li.List-item
					a(href="#work") Mi trabajo

		a(href="#contact", class="button quoted column shrink show-for-medium") Obtén una Cotización

		button(class="button hamburguer show-for-small-only")
			span
