main.Menu
	div.row.align-middle.align-justify
		div.Brand.column.shrink
			h1 MV

		div.ListContainer.column.align-middle
			ul.List.vertical.medium-horizontal.menu.align-center.text-center
				li.List-item
					a(href="") Sobre mi
				li.List-item
					a(href="") Skills
				li.List-item
					a(href="") Mi trabajo
				li.List-item
					a(href="") Contáctame

		button(class="button quoted column shrink show-for-medium") Cotización

		button(class="button hamburguer fi-list show-for-small-only")
