section.Work
	article.Work-title.row
		h2.small-12.column.text-center Mi trabajo
		h4.small-12.column.smallText.text-center Últimos Proyectos

	div.Work-projects
		div.row.align-middle
			ul(class="rslides", id="slider")
				li
					.Work-projects-single
						article.info
							h3 Steticorp <br> Diseño Web
							p Diseño y desarrollo del blog y del sitio web únicamente informativo para el spa. Y como administrador de contenidos Wordpress.
							a(class="link-only", href="#") Ver proyecto completo
						div.image(style="background-image:url('assets/images/lowSaturation.jpeg')")

				li
					.Work-projects-single
						article.info
							h3 App Expertia <br> Diseño Web
							p Diseño y desarrollo del blog y del sitio web únicamente informativo para el spa. Y como administrador de contenidos Wordpress.
							a(class="link-only", href="#") Ver proyecto completo 1
						div.image(style="background-image:url('assets/images/about-visual.png')")

				li
					.Work-projects-single
						article.info
							h3 Proyecto Tres <br> Desarrollo Web
							p Diseño y desarrollo del blog y del sitio web únicamente informativo para el spa. Y como administrador de contenidos Wordpress.
							a(class="link-only", href="#") Ver proyecto completo
						div.image(style="background-image:url('assets/images/lowSaturation.jpeg')")

				li
					.Work-projects-single
						article.info
							h3 Huellas de la economía <br>
							p Diseño y desarrollo del blog y del sitio web únicamente informativo para el spa. Y como administrador de contenidos Wordpress.
							a(class="link-only", href="#") Ver proyecto completo
						div.image(style="background-image:url('assets/images/about-visual.png')")
