section.WorkedBrands
	div.row.WorkedBrands-title
		h4.smallText.small-12.column.text-center Marcas con las que he trabajado
	div.WorkedBrands-logos.slick.row.medium-unstack.align-middle
		- var brands = [1,2,3,4,5,6]
		each brand in brands
			figure.WorkedBrands-logos-image.column
				img(src="assets/images/logo@2x.png", alt="")
